body {
    width: 100%;
    align-items: center;
}

#home{
    width: 100%;
}

nav {
    background-color: #679289;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    flex-wrap: wrap;
    width: 100%;
}

nav a {
    color: #F4C095;
    margin: 0% 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px;
    transition: all 0.5s;
}

nav a:hover {
    background-color: white;
    color: #000000;
    transform: scale(1.2);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding-top: 40px;
    background-color: #f0f2f5;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.login {
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
}

input {
    width: 85%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    outline-style: none;
    box-shadow:  0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ED2839;
    font-size: large;
    font-weight: bold;
}

button:hover{
    box-shadow: -3px 3px 5px black;
}

button:active{
    background-color: #a03940;
}

a{
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    color: #1877f2;
}

a:hover {
}

.new-account {
    width: 50%;
    background-color: #ED2839;
    font-size: 16px;
    margin:10px 0 20px 0;
}

.new-account:hover{
    box-shadow: -3px 3px 5px black;
}

.new-account:active{
    background-color: #a03940;
}

footer{
    height:100px;
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
footer .content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.copywright{
    background-color: black;
    color:whitesmoke;
    width:100%;
    text-align: center;
}

@media screen and (max-width:768px) {
    .feature-card-wrapper {
        justify-content: center;

    }
}